@tailwind base;
@tailwind components;
@tailwind utilities;

#letter-1 {
  stroke-dasharray: 431px;
  stroke-dashoffset: 431px;
  animation: line-anim 2s ease forwards;
}

#letter-2 {
  stroke-dasharray: 529px;
  stroke-dashoffset: 529px;
  animation: line-anim 2s ease forwards;
}

#letter-3 {
  stroke-dasharray: 431px;
  stroke-dashoffset: 431px;
  animation: line-anim 2s ease forwards;
}

#letter-4 {
  stroke-dasharray: 513px;
  stroke-dashoffset: 513px;
  animation: line-anim 2s ease forwards;
}

#letter-5 {
  stroke-dasharray: 363px;
  stroke-dashoffset: 363px;
  animation: line-anim 2s ease forwards;
}

#letter-6 {
  stroke-dasharray: 512px;
  stroke-dashoffset: 512px;
  animation: line-anim 2s ease forwards;
}

#letter-7 {
  stroke-dasharray: 242px;
  stroke-dashoffset: 242px;
  animation: line-anim 2s ease forwards;
}

#letter-8 {
  stroke-dasharray: 343px;
  stroke-dashoffset: 343px;
  animation: line-anim 2s ease forwards;
}

#letter-9 {
  stroke-dasharray: 242px;
  stroke-dashoffset: 242px;
  animation: line-anim 2s ease forwards;
}

#letter-10 {
  stroke-dasharray: 529px;
  stroke-dashoffset: 529px;
  animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0; 
  }
}